STAGE=dev
AWS_REGION=eu-west-1
PROFILE=default
# One of 'fatal', 'error', 'warn', 'info', 'debug', 'trace' or 'silent'.
LOG_LEVEL=debug
TELEGRAM_BOT_TOKEN=abcd1234....
MESSAGE_TABLE=messages-table
CHATID_TABLE=chatIds-table
EVENT_QUEUE_URL=https://sqs.eu-west-1.amazonaws.com/xxx/yyy
SCALE_UP_READ_CAPACITY=1
