name: Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Buck2
        uses: zadlg/buck2-github-composite-action@v3
        with:
          release-tag: latest

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go/go.mod
          cache: true
          cache-dependency-path: go/go.sum

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Cargo
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Install cbindgen
        run: |
          if [ -x "${HOME}/.cargo/bin/cbindgen" ]; then
            exit 0
          fi
          cargo install cbindgen

      - name: Run tests
        run: make vendor && make test
